@charset "UTF-8";


/* //#3C4F76 */

@media screen and (max-width: 768px){
    .cabecalho{
        flex-direction: column;
        background-color: #3C4F76;
        justify-content: space-between;
        padding: 32px 0px 0px 0px;
    }
    .conteudo-principal{
        width: 80vw;
    }
    h1{
        text-align: center;
        margin-bottom: 32px;
    }
    .menu-escrito-titulo {
        font-size: 1.5em;
    }
    .menu-escrito-titulo-secundario{
        font-size: 1.2em;
    }
    .menu-escrito-paragrafo{
        font-size: 1em;
        
    }
    .menu-escrito-titulo-redes{
        font-size: 1em;
        
    }
    span.material-symbols-outlined{
        display: block;
        color: white;
        background-color: #383F51;
        height: 40px;
        text-align: center;
        padding-top: 8px;
    } 
    #menu{
        display: none;
        flex-direction: column;
        gap: 0px;
        width: 100vw;
        text-align: center;
    }
    #menu li{
        padding: 8px 0px;
        border-top: .5px solid white;
        width: 100vw;
        background-color: #383F51;
        font-size: 1em;
    }
    .imagem-de-perfil{
        display: none;
    }
    .conteudo-principal{
        padding-top: 24px;
    }
    .conteudo-principal-escrito{
        margin-top: 0px;
        gap: 16px;
        padding-top: 0px;
    }
    .menu-escrito-titulo-redes{
        margin-top: 24px;
    }
    #apresentacao-projetos{
        gap: 80px 0px;
        font-size: 1.1em;
    }
    .card-texto{
        width: 80vw;
    }
    .titulo-projetos, .titulo-formacao, .titulo-habilidades, .titulo-experiencia{
        font-size: 1.2em;
    }
    .card-container{
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
    .card{
        height: 100px;
        width: 100px;
        margin-top: 0px;
    }
    .card-texto{
        width: 60vw;
    }
    .card-wrapper::before{
        display: none;
    }
    .card-wrapper p{
        display: none;
    }
    .veja-mais{
        font-size: 1em;
    }
    .texto-formacao{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .faculdade-titulo, .experiencia-titulo{
        font-size: 1em;
    }
    .faculdade-paragrafo, .experiencia-paragrafo{
        font-size: 0.9em;
    }
    .imagem-da-infnet{
        width: 100px;
    }
    .container-habilidades{
        flex-wrap: wrap;
        gap: 8px;
        width: 80vw;
    }
    .cards-habilidades{
        width: 100px;
        height: 100px;
        font-size: 0.7em;
    }
    .experiencia1{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #rodape{
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        font-size: 0.9em;
    }
    .cabecalho{
        justify-content: space-between;

    }
    #menu{
       width: 550px; 
       gap: 5px;
       justify-content: space-evenly;
    }
    #menu li{
        font-size: 1.1em;
        width: 80px;
    }
    .menu-escrito-titulo-redes{
        margin-top: 24px;
    }
    #conteudo-principal{
        padding-bottom: 96px;
        height: 100vh;

    }
    .imagem-de-perfil{
        width: 250px;
    }
    .card{
        height: 150px;
        width: 150px;
        margin-top: 0px;
    }
    #apresentacao-projetos{
        gap: 80px 0px;
    }
    .card-wrapper h2{
        font-size: 1em;
    }
    .card:hover > .card-wrapper::before{
        height: 150px;
        width: 150px;
    }
    .imagem-da-infnet{
        width: 150px;
    }
    .container-habilidades{
        flex-wrap: wrap;
        gap: 8px;
        width: 80vw;
    }
} 