@charset "UTF-8";


/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
*/
/* paleta de cores: #30343D, #E0E0E7, #3C4F76, #D1BEB0 */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
}
.cabecalho{
    display: flex;
    justify-content: space-around;

    font-family: 'Sarala', sans-serif;
    padding: 32px;
    background-color: #383F51;
    color: #E0E0E7;
}
span.material-symbols-outlined{
    display: none;
}
h1{
    font-family: 'Righteous', cursive;
    
}
#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 800px;
}
ul li{
    list-style-type: none;
    font-size: 1.3em;
    width: 250px;
}
.link-menu{
    color: #E0E0E7;
    transition: .5 ease-in-out;
}
.link-menu:hover{
    font-weight: bold;
 
}
.conteudo-principal{
    background-color: #3C4F76;
    height: 88vh;

}
.conteudo-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 64px;

}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 80px;

    width: 800px;
}
.menu-escrito-titulo{
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
    color: #E0E0E7;
}
.menu-escrito-titulo-secundario{
    font-size: 2em;
    color: #D1BEB0;
    font-family: 'Sarala', sans-serif;
}
.menu-escrito-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: #E0E0E7;
    font-size: 1.2em;
    
}
.menu-escrito-titulo-redes{
    margin-top: 64px;
    font-size: 1.5em;
    color: #E0E0E7;
    font-family: 'Sarala', sans-serif;
    align-self: center;
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
    width: 100%;
}
.social-media a{
    width: 200px;
    height: 32px;
    background-color: #3C4F76;
    border: 1px solid #E0E0E7;
    border-radius: 8px;
    color: #E0E0E7;
    text-align: center;
    line-height: 32px;
    transition: .5s ease-in-out;
}
.social-media a:hover{
    width: 200px;
    height: 32px;
    background-color: #E0E0E7;
    border: 1px solid #3C4F76;
    color: #3C4F76;
}
.imagem-de-perfil{
    border-radius: 50%;
    margin-bottom: 80px;
    
}
.apresentacao-projetos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 64px 0;
    background-color: #dfd3cb;
    font-family: 'Sarala', sans-serif;
    font-size: 1.2em;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
}
.card{
    display: flex;
    justify-content: center;
    

    background-color: #3C4F76;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 48px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
#primeiro{
    background-image: url('../img/cadastro-dev.png');
}
#segundo{
    background-image: url('../img/balle-robot.png');
}
#terceiro{
    background-image: url('../img/projeto-android.png');
}
#primeiro p{
    color: #383F51;
    background-color: white;
}
#segundo p{
    color: #E0E0E7;
}
#terceiro p{
    color: #383F51;
    background-color: white;
}
.card-texto{
    width: 40vw;
}
.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-wrapper::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #E0E0E7;
    transition: .5s ease-in-out;
}
.card-wrapper p{
    visibility: visible;
    opacity: 0;
    transition: 0.5s ease-in-out;
    font-size: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.card:hover{
    filter: unset;
}
.card:hover > .card-wrapper::before{
    height: 250px;
    width: 250px;
}
.card:hover > .card-wrapper p{
    visibility: visible;
    font-size: 24px;
    opacity: 1;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Sarala', sans-serif;
    font-size: 1.2em;
    background-color: #dfd3cb;
    color: #383F51;
    
    width: 100vw;
    height: 80px;
}