@charset "UTF-8";


/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
*/
/* paleta de cores: #30343D, #E0E0E7, #3C4F76, #D1BEB0 */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
}
.cabecalho{
    display: flex;
    justify-content: space-around;

    overflow: hidden;
    position: fixed;
    width: 100vw;
    z-index: 1;

    font-family: 'Sarala', sans-serif;
    padding: 32px;
    background-color: #383F51;
    color: #E0E0E7;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.418);
}
span.material-symbols-outlined{
    display: none;
}
h1{
    font-family: 'Righteous', cursive;
    
}
#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}
ul li{
    list-style-type: none;
    font-size: 1.3em;
    width: 250px;
}
.link-menu{
    color: #E0E0E7;
    transition: .5s ease-in-out;
}
.link-menu:hover{
    font-weight: bold;
 
}
#conteudo-principal{
    background-color: #3C4F76;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 64px;

}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 80px;
    width: 800px;
}
.menu-escrito-titulo{
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
    color: #E0E0E7;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.418);
}
.menu-escrito-titulo-secundario{
    font-size: 2em;
    color: #D1BEB0;
    font-family: 'Sarala', sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.418);
}
.menu-escrito-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: #E0E0E7;
    font-size: 1.2em;
    
}
.menu-escrito-titulo-redes{
    margin-top: 64px;
    font-size: 1.5em;
    color: #E0E0E7;
    font-family: 'Sarala', sans-serif;
    align-self: center;
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
    width: 100%;
}
.social-media a{
    width: 200px;
    height: 32px;
    background-color: #3C4F76;
    border: 1px solid #E0E0E7;
    border-radius: 8px;
    color: #E0E0E7;
    text-align: center;
    line-height: 32px;
    transition: .5s ease-in-out;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.185);
}
.social-media a:hover{
    width: 200px;
    height: 32px;
    background-color: #E0E0E7;
    border: 1px solid #3C4F76;
    color: #3C4F76;
}
.social-media a:hover > #logolnk{
    color: #383F51;
}
.social-media a:hover > #logogit{
    color: #383F51;
}
#logolnk{
    color: #E0E0E7;
    margin-right: 8px;
}
#logogit{
    color: #E0E0E7;
    margin-right: 8px;
}
.imagem-de-perfil{
    border-radius: 50%;
    margin-bottom: 80px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.185);
}
#apresentacao-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 64px 0;
    background-color: #dfd3cb;
    font-family: 'Sarala', sans-serif;
    font-size: 1.2em;
}
.titulo-projetos{
    color: #383F51;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
}
.card{
    display: flex;
    justify-content: center;
    

    background-color: #3C4F76;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 48px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.185);
    transition: 0.5s ease-in-out;

}
#primeiro{
    background-image: url('../img/cadastro-dev.png');
}
#segundo{
    background-image: url('../img/balle-robot.png');
}
#terceiro{
    background-image: url('../img/projeto-android.png');
}
#primeiro p{
    color: #383F51;
    background-color: white;
}
#segundo p{
    color: #E0E0E7;
}
#terceiro p{
    color: #383F51;
    background-color: white;
}
.card-texto{
    width: 40vw;
}
.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-wrapper::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #E0E0E7;
    transition: .5s ease-in-out;
}
.card-wrapper p{
    visibility: visible;
    opacity: 0;
    transition: 0.5s ease-in-out;
    font-size: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.card:hover{
    filter: unset;
}
.card:hover > .card-wrapper::before{
    height: 250px;
    width: 250px;
}
.card:hover > .card-wrapper p{
    visibility: visible;
    font-size: 24px;
    opacity: 1;
}
.veja-mais{
    margin-top: 24px;
    color: #3C4F76;
    font-size: 18px;
}
.veja-mais a:hover{
    text-decoration: underline;
}
.veja-mais a:visited{
    color: #3C4F76;
}
#formacao{
    font-family: 'Sarala', sans-serif;
    font-size: 1.3em;
    background-color: #dfd3cb;
    padding: 64px 0;
    color: #3C4F76;
}
.titulo-formacao{
    margin: auto;
    text-align: center;
    color: #3C4F76;
    width: 250px;
    border-top: 0.3px solid #3C4F76;
    padding-top: 64px;
}
.texto-formacao{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: auto;
}
.imagem-da-infnet{
    width: 250px;
}
#habilidades{
    font-family: 'Sarala', sans-serif;
    background-color: #383F51;
    color: #E0E0E7;
    font-size: 1.3em;
    padding: 64px 0px;
}
.titulo-habilidades{
    text-align: center;
}
.container-habilidades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 650px;
    width: 1000px;
    margin: auto;
}
.cards-habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 200px;
    width: 180px;
    border-radius: 16px;
    border: 0.3px solid #E0E0E7;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.185);
}
.cards-habilidades:hover{
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.253);
    transform: translate(-3px, -3px);
    transition: transform .5s, border 1s;
}
#experiencia{
    font-family: 'Sarala', sans-serif;
    background-color: #D1BEB0;
    color: #383F51;
    font-size: 1.3em;
    padding: 64px 0px;
    height: 700px;
}
.titulo-experiencia{
    text-align: center;
}
.experiencia1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 400px;
    margin: 0 auto;
}
span.material-icons{
    font-size: 4em;
}
.experiencia1 h3{
    border-bottom: 1px solid #383F51;
    margin-bottom: 8px;
}



#rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Sarala', sans-serif;
    font-size: 1.2em;
    background-color: #181a22;
    color: #E0E0E7;
    
    width: 100vw;
    height: 80px;
}